@import "header";
@import "started";
@import "footer";
@import "cases";
@import "hero";
@import "facebook";
@import "oxmox";
@import "silent";
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}