.header{
    background: #273A89;
    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        &__logo{
            color: #FFFFFF;
            h1{
                font-family: "Heebo";
                font-style: normal;
                font-weight: 900;
                font-size: 40px;
                line-height: 48px;
            }
        }
        &__menu{
            display: flex;
            justify-content: space-between;
            min-width: 432px;
            li{
                text-decoration: none;
                list-style: none;
                font-family: "Courier Prime";
                font-size: 16px;
                line-height: 32px;
                a{  
                    color: #FFFFFF;
                    text-decoration: none;
                }
                

            }
        }
        &__search{
            display: flex;
            background: #6C4DC2;
            border-radius: 24px;
            min-width: 48px;
            min-height: 48px;
            border: none;
            justify-content: center;

            @media (max-width: 756px) {
                margin-top: 20px;
                margin-right: 10px;
            }
            
            img {
                width: 20px;
                height: 20px;
                align-self: center;
            }
        }

        &__burger-search {
            display: flex;
            align-items: center;
        }

        .burger-menu{
            display: none;
        }
        @media(max-width: 756px){
            .burger-menu{
                display: block;
            }
            .header__menu{
                display: none;
            }
            
        }
}
