.statistic{
    min-height: 448px;
    background-image: url(./img/statistic_fon.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;

    &__content{
        display:flex;
        align-items: center;
        min-height: 448px;
        justify-content: space-around;
        @media(max-width: 756px){
            flex-direction: column;
            padding-top: 112px;
        }
        

    }
     &__item{
         display: flex;
         flex-direction: column;
         align-items: center;
         @media(max-width: 756px){
            margin-bottom: 68px;

        
        }

     }
     &__number{
        font-family: "Heebo";
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #FFFFFF;
        margin-bottom: 0;
     }
     &__parameter{
        font-family: "Courier Prime";
        font-size: 20px;
        line-height: 32px;
        color: #FFFFFF;
     }
     &__image{
         display: flex;
         min-height: 112px;
         min-width: 112px;
         border-radius: 112px;
         align-items: center;
         background: #3c4d94;
         justify-content: center;
         
     }   

}